header{
    background-color: #bbbbbb;
    padding: 20px 0; /*espaciamiento externo 20 superior e inferior y 0 en los laterales */
}

.caja{
    width: 940px; /*Ancho*/
    position: relative;
    margin: 0 auto; /*Margen en automatico*/ 
    
}

nav{
    position: absolute; /*mueve abajo del nav*/
    top: 110px; /*mueve arriba*/
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15;/*espaciamiento de panel de navegación*/
}

nav a{
    text-transform: uppercase; /*texto en mayuscula*/
    color: black; /*color*/
    font-weight: bold; /*negritas bold*/
    font-size: 22px; /*Tamaño*/
    text-decoration: none; /**/
}

.productos{
    width: 940px; /*Ancho*/
    position: relative;
    margin: 0 auto; /*Margen en automatico*/ 
}

.productos li{
    display: inline-block; /*Alinear en bloque*/
}