header{
    background-color: #bbbbbb;
    padding: 20px 0; /*espaciamiento externo 20 superior e inferior y 0 en los laterales */
}

.caja{
    width: 940px; /*Ancho*/
    position: relative;
    margin: 0 auto; /*Margen externo en automatico*/ 
    
}

nav{
    position: absolute; /*mueve abajo del nav*/
    top: 110px; /*mueve arriba*/
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15;/*espaciamiento de panel de navegación*/
}

nav a{
    text-transform: uppercase; /*texto en mayuscula*/
    color: black; /*color*/
    font-weight: bold; /*negritas bold*/
    font-size: 22px; /*Tamaño*/
    text-decoration: none; /**/
}

nav a:hover{/*Movimiento del maus*/
    color: rgb(93, 228, 228); /*color*/
    text-decoration: underline; /*texto subrayado*/
}

.productos{
    width: 940px; /*Ancho*/
    margin: 0 auto; /*Margen en automatico*/ 
    padding: 50px; /*espaciamientos*/
}

.productos li{
    display: inline-block; /*Ajuste de largo y alto*/
    text-align: center; /*texto al centro*/
    width: 30%; 
    vertical-align: top;/*Aliniación vertical*/
    background: rgba(250, 250, 250, 0.8); /*fondo*/
    margin: 0 1.5%; /*Margen externo*/ 
    padding: 30px 20px; /*interno del cuadro img es +*/
    box-sizing: border-box; /*borde de las cajas*/
    border: 2px solid #000; /*tamaño, estilo y color*/
    border-radius: 10px ;/*borde redondeado*/
}

.productos li:hover{
    border-color: rgb(217, 232, 46);
    font-size: 33px;
}

.productos li:active{
    border-color: rgb(68, 234, 126);
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.prodDescripcion{
    font-size: 18px;
}

.ProPrecio{
    font-size: 20px; /*tamaño letra*/
    font-weight: bold;
    margin-top: 10px;/*separacion*/
}