body{
    font-family: 'Raleway', sans-serif; /*agregando de google fonts*/
}

header{
    background: linear-gradient( #18b8cd, #f5f8f8);
    padding: 20px 0; /*espaciamiento externo 20 superior e inferior y 0 en los laterales */
}

.caja{
    width: 940px; /*Ancho*/
    position: relative;
    margin: 0 auto; /*Margen externo en automatico*/ 
    
}

nav{
    position: absolute; /*mueve abajo del nav*/
    top: 110px; /*mueve arriba*/
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15;/*espaciamiento de panel de navegaci칩n*/
}

nav a{
    text-transform: uppercase; /*texto en mayuscula*/
    color: black; /*color*/
    font-weight: bold; /*negritas bold*/
    font-size: 22px; /*Tama침o*/
    text-decoration: none; /**/
}

nav a:hover{/*Movimiento del maus*/
    color: rgb(68, 234, 126); /*color*/
    text-decoration: underline; /*texto subrayado*/
}

.productos{
    width: 940px; /*Ancho*/
    margin: 0 auto; /*Margen en automatico*/ 
    padding: 50px; /*espaciamientos*/
}

.productos li{
    display: inline-block; /*Ajuste de largo y alto*/
    text-align: center; /*texto al centro*/
    width: 30%; 
    vertical-align: top;/*Aliniaci칩n vertical*/
    background: rgba(250, 250, 250, 0.8); /*fondo*/
    margin: 0 1.5%; /*Margen externo*/ 
    padding: 30px 20px; /*interno del cuadro img es +*/
    box-sizing: border-box; /*borde de las cajas*/
    border: 2px solid #000; /*tama침o, estilo y color*/
    border-radius: 10px ;/*borde redondeado*/
}

.productos li:hover{
    border-color: rgb(217, 232, 46); /*Al pasar se vuelve amarillo*/
}

.productos li:active{
    border-color: rgb(68, 234, 126); /*Cambio de color al generar active color verde*/
}

.productos h2{
    font-size: 30px;
    font-weight: bold;
}

.productos li:hover h2{/*hacer grande la letra al pasar maus*/
    font-size: 33px;
}

.prodDescripcion{
    font-size: 18px;
}

.ProPrecio{
    font-size: 20px; /*tama침o letra*/
    font-weight: bold;
    margin-top: 10px;/*separacion*/
}

footer{
    text-align: center;
    background: url(/banner/bg.jpg); /*acupa el 100*/
    padding: 40px;/*expaciamiento interno para arriba*/
}

.Copyright{
    color: #bbbbbb;
    font-size: 13px; /*Tama침o de letra*/    
    margin: 20px;/*margen abajo*/
}

form{
    margin: 40px 0;
}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox{
    margin:20px 0;
}

.enviar {
    width: 40%; /*ocupar espacio a lo largo*/
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: azure; /*color de la letra*/
    background: orange; /*fondo del box*/
    border: none; /*none = sin borde*/
    border-radius: 5px; /*tama침o del borde*/
    transition: 2s all; /*a todo el enviar:hover*/
    cursor: pointer; /*manita al pasa por el boton enviar*/
}

.enviar:hover{
    background: orangered;
    transform: scale(1.2);/*aumento*/
}
table{
    margin: 40px 40px;    /*margen externo ambos lados*/
}

thead{
    background: #555555; /*color de fondo*/
    color: aliceblue; /*color letra*/
    font-weight: bold; /*negritas*/    
}

td, th{
    border: 1px solid #000000; /*tama침o de borde solido y color negro*/
    padding: 8px 15px; /*espaciamiento interno alto y ancho*/
}

/* Estilo para el index*/

.barber {
    width: 100% ;
}
.principal{
    padding: 3em 0; /*Separando principal*/
    background: #fefefe;
    width: 940px;
    margin: 0 auto; 
}

.Tprincipal {
    text-align: center;
    font-size: 2em;/*tama침o de funte*/
    margin:0 0 1em; /*Separaci칩n hacia abajo*/
    clear: left;
}

.Tprincipal::first-letter{ /*Primera letra de los primeros parrafos*/
    font-weight: bold;
    /*tambien: Tprincipal:before o after*/
    /*conter: "["*/
}

.principal p{
    margin:0 0 1em; /*Separaci칩n hacia abajo*/    
}

.principal strong {
    font-weight: bold;/*peso de la fuente*/
    
}

.principal em{
    font-style: italic;
}

.material{
    width: 120px;
    float: left;
    margin: 0 20px 20px 0; /*aplicar para el externo en  sentido del reloj*/
}

.mapa{/*fondo de mapa*/
    padding: 3em 0;
    background: linear-gradient(#fefefe, #4cd4d8);
}

.mapa p{/*mapa etiqueta parrafo*/
    margin: 0 0 2em;
    text-align: center;
}

.mapacontenido{ /*div de mapa*/
    width: 640px;
    margin: 0 auto; /*centrado*/

}

.diferenciales{
    padding: 3em 0;
    background: #35d4d9; /*fondo de diferenciales*/
}

.contenidoDiferencial{
    width: 640px;
    margin: 0 auto;
}

.listaDiferencial{
    width: 40%;
    display: inline-block; /*se mueve hacia costado*/
    vertical-align: top; /*se mueve hacia arriba*/
}

.items{
    line-height: 2.5; /*espacio entre filas de lista de diferenciales*/
}

.items:before{ /*agregando 游 a diferenciales*/
    content: "游";

}

.corteDiferencial{
    width: 60%;
    transition: 400ms; /*tiempo a la opacidad*/
}

.corteDiferencial:hover{/*Aplicando opacidad a img*/
    opacity: 0.3;
}

.video{
    width: 560px;
    margin: 1em auto; /*centar*/
}
