body{
    background: #CCCCCC;
}

#barber {
    width: 80%;
   }

h1{
    text-align: center;
    height: 150;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision {
    font-size: 20px
}

.items {
    font-style: italic;
}