body{
    background: #127ad5;
}

#barber {
    width: 80%;
   }

.principal{
    background: #e6e7df;
}

h1{
    text-align: center;
    height: 150;
}

p{
    text-align: center;
}

em strong{
    color:red;
}

#mision {
    font-size: 20px
}

.Difen{
    background: #FFFFFF;
}

h2{
    text-align: center;
}

.items {
    font-style: italic;
}
